
  <mat-toolbar  >
    <button mat-icon-button class="menu" ><mat-icon>menu</mat-icon></button>
    <span>Khoazada</span>
    <button mat-icon-button class="menu" [routerLink]="['home']" ><mat-icon>home</mat-icon></button>
    <button mat-icon-button class="menu" [routerLink]="['cart']" ><mat-icon>shopping_cart</mat-icon></button>
    <mat-toolbar class="login">
      <input id="search" type="text">
      <button mat-button>login</button>
      <button mat-button >Sign out</button>
    </mat-toolbar>
  </mat-toolbar>
