
*{
  color: white;
}



.items-container {
  max-width: 250px;
  display: flex;
  justify-content: center;
  padding: 10px 20px 0px 10px;
  border-radius: 20px;
  margin: 10px 0 10px 80px;


}

.login{
  display: flex;
  justify-content: right;
  color: white;
}

#image{
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 20px;
  margin-left: 10px;
  max-height: width;
}

#btn{
  display: flex;
  justify-content: center;
  margin-left: 23px;
  color: black !important;
  border: 1px solid;
}

.inside{
  line-height: 20px;
  margin-top: 10px;
}


div{
  margin-left: 30px;
  display: flex;
  float: left;

}

#Heading{
  display: flex;
  margin-left: 45px;
  color: black;
}

#search{
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  padding: 10px;
  transition-duration: 500ms;
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  border: 1px solid black;
  overflow: hidden;
  background-image: url(https://cdn-icons-png.flaticon.com/128/54/54481.png);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 45% 50%;
  background-color: #212121;

}

#search:hover{
  border: 1px solid white;
}

#search:focus{
  width: 200px;
  padding-left: 40px;
  color: white;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  background: url(https://cdn-icons-png.flaticon.com/128/54/54481.png) no-repeat;
  background-size: 22px;
  background-position: 10px 50%;
}
